.popupBackground {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
}

.popupForeground {
    position: relative;
    width:40%;
    min-height: 80%;
    background-color: #fff;
    margin: 80px auto;
    border-radius: 20px;
}

.popupForm {
    width: 70%;
    margin: 0 auto;
}

/* Style for labels */
.popupForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for inputs and textareas */
.popupForm input[type="text"],
.popupForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for time inputs */
.popupForm input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for buttons */
.popupForeground button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for Cancel button */
.popupForeground button:first-child {
    background-color: #ccc;
    color: #fff;
}

/* Style for Add event button */
.popupForeground button:last-child {
    background-color: #007bff;
    color: #fff;
}

.buttonContainer {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border: 1px solid black;
    padding: 10px;
  }

  .cell {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
  }