.upcoming-events-div {
    width: 18%;
    margin-left: 5%;
    margin-right: 2%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
    border-radius: 20px;
}

.upcoming-events-div h3{
    text-align: center;
}