.today {
    margin: auto;
    background-color: #aaa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.today:hover {
    background-color: #fff;
    cursor: pointer;
}

.calendarItem:hover {
    background-color: #fff;
    cursor: pointer;
}

.calendarDiv {
    display: inline-block;
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    position: static;
    overflow: hidden;
}

.calendarHeader {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 32pt;
}

.calendarTable {
    width: 100%;
    border-collapse: collapse;
}

.calendarItem {
    margin: auto;
    background-color: #eeeeee;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.calendarItem:hover {
    background-color: #fff;
}

.calendarItemText{
    text-align: center;
    justify-content: center;
    line-height: 100%;
    display: flex;
    padding-top: 30%;
    font-size: 30px;
    color: #333;
}